/*  ***** Variables *****  */
/*  ***** Mixins *****  */
/* Devices Screen, Max Height, 400px */
@media (max-height: 400px) {
  .home .home_hamburger {
    right: 0;
    top: 0;
  }
  .home .home_image {
    display: none;
  }
  .home .home_logo {
    display: none;
  }
  .home .home_social img {
    display: none;
  }
}

/* Devices Screen, Min Width, 401px, Max Width, 599px */
@media (min-height: 401px) and (max-height: 599px) {
  .home .home_image {
    display: none;
  }
  .home .home_social img {
    display: none;
  }
}

@media (max-height: 625px) {
  .loader h1 {
    display: none;
    visibility: hidden;
  }
}

/* Devices Screen, Min Width, 600px, Max Width, 700px */
@media (min-height: 600px) and (max-height: 700px) {
  .home .home_social img {
    display: none;
  }
}

@media (max-width: 375px) {
  .home .home_frontend {
    display: none;
  }
  .research .areas {
    display: none;
  }
}

@media (max-width: 525px) {
  .about .heading {
    display: none;
  }
  .about .info {
    margin-top: 186px;
  }
  .contact .heading {
    display: none;
  }
  .contact .info {
    margin-top: 186px;
  }
  .missions .heading {
    display: none;
  }
  .missions .info {
    margin-top: 186px;
  }
  .news .heading {
    display: none;
  }
  .news .info {
    margin-top: 186px;
  }
  .research .heading {
    display: none;
  }
  .research .info {
    margin-top: 186px;
  }
  .science .content {
    margin-left: 25px;
    margin-right: 25px;
  }
  .science .content .info {
    margin-top: 186px;
  }
  .science .heading {
    display: none;
  }
}

/*  ***** Devices Screen, Max Width, 576px *****  */
@media (max-width: 576px) {
  .about .about_content {
    width: 90%;
  }
  .about .about_content .about_developer {
    text-align: left;
  }
  .about .about_content .about_frontend {
    margin-top: 50px;
  }
  .about .about_content .about_info br {
    display: block;
  }
  .blog_content .blog_background .blog_calen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog_content .blog_background .blog_calen .blog_time {
    margin-top: 14px;
  }
  .blog_content .blog_background .blog_calen .blog_time .blog_calendar {
    margin: 0;
    padding: 0;
  }
  .blog_content .blog_background .blog_calen .blog_time .blog_date {
    text-align: center;
    top: 4px;
  }
  .blog_content .blog_background .blog_opinions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog_content .blog_background .blog_opinions .blog_comments {
    margin: 0;
    margin-top: 14px;
    padding: 0;
  }
  .blog_content .blog_background .blog_opinions .blog_comments .blog_comm {
    margin: 0;
    padding: 0;
  }
  .blog_content .blog_background .blog_opinions .blog_comments .blog_opinion {
    text-align: center;
    top: 4px;
  }
  .coding .coding_left {
    margin-left: 0;
    width: 100%;
  }
  .coding .coding_left .coding_2020 {
    text-align: center;
  }
  .coding .coding_left .coding_bootstrap {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .coding .coding_left h5 {
    text-align: center;
  }
  .coding .coding_left .coding_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .coding .coding_right .coding_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .coding .coding_right .coding_instagram {
    text-align: center;
  }
  .coding .coding_right .coding_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right .coding_keywords .coding_tags {
    display: block;
    text-align: center;
  }
  .coding .coding_right .coding_tagsHeading {
    text-align: center;
  }
  .contact .bottom_area .info_zone .bo {
    padding-bottom: 50px;
  }
  .contact .bottom_area .info_zone .boto {
    display: none;
  }
  .contact .bottom_area .info_zone .img {
    display: none;
  }
  .contact .bottom_area .info_zone .info_area {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
  }
  .footer_social .footer_soc {
    margin-top: 15px;
  }
  .footer_social img {
    display: block;
  }
  .home {
    display: none;
  }
  .home .home_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_content .home_hamburger {
    right: 0;
    top: 0;
    visibility: visible;
  }
  .home .home_content .home_hamburger .home_line {
    background: #37ABBB;
    height: 3px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
  }
  .home .home_content .home_lo {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .home .home_content .home_lo .home_logo .home_portfolix {
    display: none;
  }
  .home .home_content .home_menu {
    background: #263d40;
    display: block;
    height: 100%;
    margin-right: 0;
    right: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  .home .home_content .home_menu li {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  .home .home_content .home_menu li h4 {
    text-align: center;
  }
  .home .home_content .home_menu li h4 .home_click {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .home .home_content .home_menu li h4 .home_click:hover {
    color: #37ABBB;
  }
  .home .home_content .home_menu .home_mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #263d40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_content .home_menu .home_mobile .home_ho {
    display: block;
  }
  .home_change .home_menu {
    left: calc(0% - 0px);
  }
  .loader h1 {
    display: none;
  }
  .mobile .mobile_left {
    margin-left: 0;
    width: 100%;
  }
  .mobile .mobile_left .mobile_2020 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_android {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .mobile .mobile_left h5 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .mobile .mobile_right .mobile_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile .mobile_right .mobile_instagram {
    text-align: center;
  }
  .mobile .mobile_right .mobile_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right .mobile_keywords .mobile_tags {
    display: block;
    text-align: center;
  }
  .mobile .mobile_right .mobile_tagsHeading {
    text-align: center;
  }
  .projects ul {
    display: block;
  }
  .projects ul li {
    display: block;
  }
  .projects ul li .projects_all {
    display: block;
    text-align: center;
  }
  .projects ul li {
    display: block;
  }
  .projects ul li .projects_applications {
    display: block;
    text-align: center;
  }
  .projects ul li {
    display: block;
  }
  .projects ul li .projects_des {
    display: block;
    text-align: center;
  }
  .projects ul li {
    display: block;
  }
  .projects ul li .projects_dev {
    display: block;
    text-align: center;
  }
  .projects .projects_images .projects_left .projects_img {
    margin-top: 50px;
    padding: 0;
  }
  .projects .projects_images .projects_right .projects_img {
    margin-top: 50px;
    padding: 0;
  }
  .research .content {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/*  ***** Devices Screen, Min Width, 577px, Max Width, 768px *****  */
@media (min-width: 577px) and (max-width: 768px) {
  .about .about_content {
    width: 90%;
  }
  .about .about_content .about_frontend {
    margin-top: 50px;
  }
  .about .about_content .about_info br {
    display: block;
  }
  .coding .coding_left {
    margin-left: 0;
    width: 100%;
  }
  .coding .coding_left .coding_2020 {
    text-align: center;
  }
  .coding .coding_left .coding_bootstrap {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .coding .coding_left h5 {
    text-align: center;
  }
  .coding .coding_left .coding_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .coding .coding_right .coding_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .coding .coding_right .coding_instagram {
    text-align: center;
  }
  .coding .coding_right .coding_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right .coding_keywords .coding_tags {
    display: block;
    text-align: center;
  }
  .coding .coding_right .coding_tagsHeading {
    text-align: center;
  }
  .contact .contact_content .contact_data .contact_dataContent {
    width: 90%;
  }
  .contact .contact_content .contact_data .contact_dataContent .contact_f {
    margin-bottom: 90px;
    right: 0;
  }
  .contact .contact_content .contact_data .contact_dataContent .contact_f .contact_form {
    width: 100%;
  }
  .contact .contact_content .contact_data .contact_dataContent .contact_f .contact_formMessage {
    width: 100%;
  }
  .contact .contact_content .contact_info {
    left: 0;
    position: relative;
    width: 50%;
  }
  .contact .contact_content .contact_info h3 {
    text-align: center;
  }
  .contact .contact_content .contact_info h4 {
    text-align: center;
    width: 100%;
  }
  .home {
    display: none;
  }
  .home .home_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_content .home_hamburger {
    visibility: visible;
  }
  .home .home_content .home_hamburger .home_line {
    background: #37ABBB;
    height: 3px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
  }
  .home .home_content .home_lo {
    left: 0;
    position: absolute;
    top: 0;
  }
  .home .home_content .home_menu {
    background: #263d40;
    display: block;
    height: 100%;
    margin-right: 0;
    right: -300px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 20;
  }
  .home .home_content .home_menu li {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  .home .home_content .home_menu li h4 {
    text-align: center;
  }
  .home .home_content .home_menu li h4 .home_click {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .home .home_content .home_menu li h4 .home_click:hover {
    color: #37ABBB;
  }
  .home .home_content .home_menu .home_mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #263d40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_content .home_menu .home_mobile .home_ho {
    display: block;
  }
  .loader {
    position: relative;
    z-index: 22;
  }
  .mobile .mobile_left {
    margin-left: 0;
    width: 100%;
  }
  .mobile .mobile_left .mobile_2020 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_android {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .mobile .mobile_left h5 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .mobile .mobile_right .mobile_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile .mobile_right .mobile_instagram {
    text-align: center;
  }
  .mobile .mobile_right .mobile_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right .mobile_keywords .mobile_tags {
    display: block;
    text-align: center;
  }
  .mobile .mobile_right .mobile_tagsHeading {
    text-align: center;
  }
  .projects .projects_images .projects_left .projects_img {
    margin-top: 50px;
    padding: 0;
  }
  .projects .projects_images .projects_right .projects_img {
    margin-top: 50px;
    padding: 0;
  }
}

/*  ***** Devices Screen, Min Width, 769px, Max Width, 992px *****  */
@media (min-width: 769px) and (max-width: 992px) {
  .about .about_content {
    width: 90%;
  }
  .about .about_content .about_frontend {
    margin-top: 50px;
  }
  .about .about_content .about_info br {
    display: block;
  }
  .coding .coding_left {
    margin-left: 0;
    width: 100%;
  }
  .coding .coding_left .coding_2020 {
    text-align: center;
  }
  .coding .coding_left .coding_bootstrap {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .coding .coding_left h5 {
    text-align: center;
  }
  .coding .coding_left .coding_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .coding .coding_right .coding_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .coding .coding_right .coding_instagram {
    text-align: center;
  }
  .coding .coding_right .coding_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right .coding_tagsHeading {
    text-align: center;
  }
  .contact .contact_content .contact_data .contact_dataContent {
    width: 90%;
  }
  .contact .contact_content .contact_data .contact_dataContent .contact_f {
    margin-bottom: 90px;
    right: 0;
  }
  .contact .contact_content .contact_data .contact_dataContent .contact_f .contact_form {
    width: 100%;
  }
  .contact .contact_content .contact_data .contact_dataContent .contact_f .contact_formMessage {
    width: 100%;
  }
  .contact .contact_content .contact_info {
    left: 0;
    position: relative;
    width: 50%;
  }
  .contact .contact_content .contact_info h3 {
    text-align: center;
  }
  .contact .contact_content .contact_info h4 {
    text-align: center;
    width: 100%;
  }
  .home {
    display: none;
  }
  .home .home_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_content .home_hamburger {
    visibility: visible;
  }
  .home .home_content .home_hamburger .home_line {
    background: #37ABBB;
    height: 3px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
  }
  .home .home_content .home_lo {
    left: 0;
    position: absolute;
    top: 0;
  }
  .home .home_content .home_menu {
    background: #263d40;
    display: block;
    height: 100%;
    margin-right: 0;
    right: -300px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 20;
  }
  .home .home_content .home_menu li {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  .home .home_content .home_menu li h4 {
    text-align: center;
  }
  .home .home_content .home_menu li h4 .home_click {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .home .home_content .home_menu li h4 .home_click:hover {
    color: #37ABBB;
  }
  .home .home_content .home_menu .home_mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #263d40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_content .home_menu .home_mobile .home_ho {
    display: block;
  }
  .loader {
    position: relative;
    z-index: 22;
  }
  .mobile .mobile_left {
    margin-left: 0;
    width: 100%;
  }
  .mobile .mobile_left .mobile_2020 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_android {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .mobile .mobile_left h5 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .mobile .mobile_right .mobile_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile .mobile_right .mobile_instagram {
    text-align: center;
  }
  .mobile .mobile_right .mobile_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right .mobile_tagsHeading {
    text-align: center;
  }
  .projects .projects_images .projects_left .projects_img {
    margin-top: 50px;
    padding: 0;
  }
  .projects .projects_images .projects_right .projects_img {
    margin-top: 50px;
    padding: 0;
  }
}

@media (max-width: 1050px) {
  .home .magnificient {
    display: none;
  }
  .research .content .areas {
    margin-left: 0;
    text-align: center;
  }
  .research .content .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .research .content .holder .text {
    margin-left: 0;
    text-align: center;
  }
  .research .content .project {
    margin-left: 0;
    text-align: center;
  }
}

/*  ***** Devices Screen, Min Width, 993px, Max Width, 1199px *****  */
@media (min-width: 993px) and (max-width: 1199px) {
  .about .he {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .he .heading {
    margin-left: 0;
    text-align: center;
  }
  .coding .coding_left {
    margin-left: 0;
    width: 100%;
  }
  .coding .coding_left .coding_2020 {
    text-align: center;
  }
  .coding .coding_left .coding_bootstrap {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .coding .coding_left h5 {
    text-align: center;
  }
  .coding .coding_left .coding_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .coding .coding_right .coding_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .coding .coding_right .coding_instagram {
    text-align: center;
  }
  .coding .coding_right .coding_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right .coding_tagsHeading {
    text-align: center;
  }
  .contact .contact_content .contact_f {
    margin-bottom: 90px;
    right: 0;
  }
  .contact .contact_content .contact_info {
    left: 0;
    position: relative;
    width: 50%;
  }
  .contact .contact_content .contact_info h3 {
    text-align: center;
  }
  .contact .contact_content .contact_info h4 {
    text-align: center;
    width: 100%;
  }
  .home .home_hamburger {
    top: 120px;
    visibility: visible;
  }
  .home .home_hamburger .home_line {
    background: #37ABBB;
    height: 3px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
  }
  .home .home_menu {
    background: #263d40;
    display: block;
    height: 100%;
    margin-right: 0;
    right: -300px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 20;
  }
  .home .home_menu li {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  .home .home_menu li h4 {
    text-align: center;
  }
  .home .home_menu li h4 .home_click {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .home .home_menu li h4 .home_click:hover {
    color: #37ABBB;
  }
  .home .home_menu .home_mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #263d40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_menu .home_mobile .home_ho {
    display: block;
  }
  .mobile .mobile_left {
    margin-left: 0;
    width: 100%;
  }
  .mobile .mobile_left .mobile_2020 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_android {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .mobile .mobile_left h5 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .mobile .mobile_right .mobile_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile .mobile_right .mobile_instagram {
    text-align: center;
  }
  .mobile .mobile_right .mobile_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right .mobile_tagsHeading {
    text-align: center;
  }
  .projects .projects_images .projects_left .projects_img {
    margin-top: 50px;
    padding: 0;
  }
  .projects .projects_images .projects_right .projects_img {
    margin-top: 50px;
    padding: 0;
  }
}

@media (max-width: 1199px) {
  .about .he {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .he .heading {
    border-bottom: none;
    margin-left: 0;
    text-align: center;
  }
  .about .he .heading:before {
    background: transparent;
  }
  .about .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .text .info {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .contact .he {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .he .heading {
    border-bottom: none;
    margin-left: 0;
    text-align: center;
  }
  .contact .he .heading:before {
    background: transparent;
  }
  .contact .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact .text .info {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .history .block {
    margin-left: 0;
    margin-right: 0;
  }
  .history .block_right {
    margin-left: 0;
    margin-right: 0;
  }
  .history .bottom .block_right {
    margin-right: 0;
  }
  .history .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .history .holder .block {
    margin-left: 0;
  }
  .missions .he {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .missions .he .heading {
    border-bottom: none;
    margin-left: 0;
    text-align: center;
  }
  .missions .he .heading:before {
    background: transparent;
  }
  .missions .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .missions .text .info {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .missions .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .missions .holder .mar {
    margin-top: 180px;
  }
  .missions .holder .mission {
    margin-left: 0;
    margin-right: 0;
  }
  .missions .holder .mission_right {
    margin-left: 0;
    margin-right: 0;
  }
  .news .he {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news .he .heading {
    border-bottom: none;
    margin-left: 0;
    text-align: center;
  }
  .news .he .heading:before {
    background: transparent;
  }
  .news .image {
    margin-right: 0;
  }
  .news .marg_im {
    margin-top: 0;
  }
  .news .news_area {
    margin-left: 0;
  }
  .news .news_area .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news .news_area .description {
    text-align: center;
    width: 100%;
  }
  .news .news_area .name {
    text-align: center;
  }
  .news .news_area .tex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news .news_area .tex .text_area {
    text-align: center;
  }
  .news .news_area .time {
    text-align: center;
  }
  .news .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news .text .info {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .research .bottom {
    padding-bottom: 43px;
  }
  .research .he {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .research .he .heading {
    border-bottom: none;
    margin-left: 0;
    text-align: center;
  }
  .research .he .heading:before {
    background: transparent;
  }
  .research .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .research .text .info {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
  .science .content .img {
    margin-left: 0;
  }
  .science .content .info {
    margin-right: 0;
    padding-bottom: 75px;
  }
  .science .he {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .science .he .heading {
    border-bottom: none;
    margin-left: 0;
    text-align: center;
  }
  .science .he .heading:before {
    background: transparent;
  }
  .science .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .science .text .info {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1550px) {
  .history .block {
    margin-right: 50px;
    width: initial;
  }
  .history .block_right {
    margin-left: 50px;
    width: initial;
  }
  .missions .mission {
    margin-right: 25px;
  }
  .missions .mission_right {
    margin-left: 25px;
  }
}

/*  ***** Devices Screen, Min Width, 1200px, Max Width, 1599px *****  */
@media (min-width: 1200px) and (max-width: 1599px) {
  .about .about_content {
    width: 90%;
  }
  .about .about_content .about_info br {
    display: block;
  }
  .coding .coding_right {
    margin-right: 50px;
  }
  .contact .contact_content .contact_f {
    right: 75px;
  }
  .contact .contact_content .contact_info {
    left: 75px;
    position: relative;
  }
}

@media (min-width: 1201px) and (max-width: 1250px) {
  .about .about_content {
    width: 90%;
  }
  .about .about_content .about_frontend {
    margin-top: 50px;
  }
  .about .about_content .about_info br {
    display: block;
  }
  .coding .coding_left {
    margin-left: 0;
    width: 100%;
  }
  .coding .coding_left .coding_2020 {
    text-align: center;
  }
  .coding .coding_left .coding_bootstrap {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .coding .coding_left h5 {
    text-align: center;
  }
  .coding .coding_left .coding_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .coding .coding_right .coding_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .coding .coding_right .coding_instagram {
    text-align: center;
  }
  .coding .coding_right .coding_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .coding .coding_right .coding_tagsHeading {
    text-align: center;
  }
  .contact .contact_content .contact_f {
    margin-bottom: 90px;
    right: 0;
  }
  .contact .contact_content .contact_info {
    left: 0;
    position: relative;
    width: 50%;
  }
  .contact .contact_content .contact_info h3 {
    text-align: center;
  }
  .contact .contact_content .contact_info h4 {
    text-align: center;
    width: 100%;
  }
  .home .home_hamburger {
    top: 120px;
    visibility: visible;
  }
  .home .home_hamburger .home_line {
    background: #37ABBB;
    height: 3px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 100%;
  }
  .home .home_menu {
    background: #263d40;
    display: block;
    height: 100%;
    margin-right: 0;
    right: -300px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 20;
  }
  .home .home_menu li {
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  .home .home_menu li h4 {
    text-align: center;
  }
  .home .home_menu li h4 .home_click {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .home .home_menu li h4 .home_click:hover {
    color: #37ABBB;
  }
  .home .home_menu .home_mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #263d40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home_menu .home_mobile .home_ho {
    display: block;
  }
  .mobile .mobile_left {
    margin-left: 0;
    width: 100%;
  }
  .mobile .mobile_left .mobile_2020 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_android {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
  .mobile .mobile_left h5 {
    text-align: center;
  }
  .mobile .mobile_left .mobile_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right {
    margin-right: 0;
    margin-top: 125px;
  }
  .mobile .mobile_right .mobile_imgs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile .mobile_right .mobile_instagram {
    text-align: center;
  }
  .mobile .mobile_right .mobile_keywords {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile .mobile_right .mobile_tagsHeading {
    text-align: center;
  }
}

/*  ***** Devices Screen, Min Width, 1601px, Max Width, 2000px *****  */
@media (min-width: 1601px) and (max-width: 2000px) {
  .loader_planet:nth-child(1) {
    height: 31px;
    width: 31px;
  }
  .loader_planet:nth-child(2) {
    height: 62px;
    width: 62px;
  }
  .loader_planet:nth-child(3) {
    height: 93px;
    width: 93px;
  }
  .loader_planet:nth-child(4) {
    height: 124px;
    width: 124px;
  }
  .loader h1 {
    font-size: 56px;
    top: 250px;
  }
  .loader .loader_spinner {
    height: 12.5px;
    width: 12.5px;
  }
  .loader .loader_spinner .loader_planet {
    border: 1.25px solid #16a9b2;
    border-radius: 6250px;
  }
  .loader .loader_spinner .loader_planet::after {
    background: #ffffff;
    border-radius: 625px;
    height: 12.5px;
    top: -12.5px;
    width: 12.5px;
  }
}

/*  ***** Devices Screen, Min Width, 2001px, Max Width, 2500px *****  */
@media (min-width: 2001px) and (max-width: 2500px) {
  .loader_planet:nth-child(1) {
    height: 38px;
    width: 38px;
  }
  .loader_planet:nth-child(2) {
    height: 76px;
    width: 76px;
  }
  .loader_planet:nth-child(3) {
    height: 114px;
    width: 114px;
  }
  .loader_planet:nth-child(4) {
    height: 152px;
    width: 152px;
  }
  .loader h1 {
    font-size: 70px;
    top: 312px;
  }
  .loader .loader_spinner {
    height: 15.6px;
    width: 15.6px;
  }
  .loader .loader_spinner .loader_planet {
    border: 1.56px solid #16a9b2;
    border-radius: 7810px;
  }
  .loader .loader_spinner .loader_planet::after {
    background: #ffffff;
    border-radius: 781px;
    height: 15.6px;
    top: -15.6px;
    width: 15.6px;
  }
}

/*  ***** Devices Screen, Min Width, 2501px, Max Width, 3125px *****  */
@media (min-width: 2501px) and (max-width: 3125px) {
  .loader_planet:nth-child(1) {
    height: 47px;
    width: 47px;
  }
  .loader_planet:nth-child(2) {
    height: 94px;
    width: 94px;
  }
  .loader_planet:nth-child(3) {
    height: 141px;
    width: 141px;
  }
  .loader_planet:nth-child(4) {
    height: 188px;
    width: 188px;
  }
  .loader h1 {
    font-size: 87px;
    top: 390px;
  }
  .loader .loader_spinner {
    height: 19.5px;
    width: 19.5px;
  }
  .loader .loader_spinner .loader_planet {
    border: 1.95px solid #16a9b2;
    border-radius: 9760px;
  }
  .loader .loader_spinner .loader_planet::after {
    background: #ffffff;
    border-radius: 976px;
    height: 19.5px;
    top: -19.5px;
    width: 19.5px;
  }
}

/*  ***** Devices Screen, Min Width, 3126px *****  */
@media (min-width: 3126px) {
  .loader_planet:nth-child(1) {
    height: 58px;
    width: 58px;
  }
  .loader_planet:nth-child(2) {
    height: 116px;
    width: 116px;
  }
  .loader_planet:nth-child(3) {
    height: 174px;
    width: 174px;
  }
  .loader_planet:nth-child(4) {
    height: 232px;
    width: 232px;
  }
  .loader h1 {
    font-size: 108px;
    top: 487px;
  }
  .loader .loader_spinner {
    height: 24.3px;
    width: 24.3px;
  }
  .loader .loader_spinner .loader_planet {
    border: 2.43px solid #16a9b2;
    border-radius: 12000px;
  }
  .loader .loader_spinner .loader_planet::after {
    background: #ffffff;
    border-radius: 1200px;
    height: 24.3px;
    top: -24.3px;
    width: 24.3px;
  }
}
/*# sourceMappingURL=responsive.css.map */